table, th, td{
    border:solid black;
    border-collapse:collapse;
    color: white;
}

th{
    background-color:rgb(13, 51, 19);
}

.hayao{
    background-color:rgb(38, 80, 59);
}

.isao{
    background-color: rgb(82, 167, 124);
}

body{
    background-image: url(Ghibli3.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
